@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
    --font-Montserrat: "Montserrat", sans-serif;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
}
/* plugins: [
  require('@tailwindcss/line-clamp'),
] */